---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}
<!-- <link rel="stylesheet" href="assets/css/scrollanim.css">
<script src="assets/js/scrollanim.js"></script>     -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body lang="{{ page.lang }}" id = "top"> 

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>

<!-- 返回顶部和语言切换按钮 -->
<div class="floating-buttons">
  <a href="#top" class="scroll-to-top" title="Back to Top">
    <span>&uarr;</span>
  </a>

  <!-- 中英文切换 -->
  {% if page.lang == 'en' %}
    <a href="/zh/index_zh/" class="language-toggle" title="Switch to Chinese">中</a>
    
  {% else %}
    <a href="/" class="language-toggle" title="Switch to English">en</a>
  {% endif %}
</div>

</body>
